openapi: 3.1.0
info:
  title: WarFront.io API
  description: |
    Welcome to the documentation for the public WarFront.io API

    Production server: [https://warfront.io/api/](https://warfront.io/api/)
  version: v1-pre0
servers:
  - url: https://warfront.io/api/
    description: Production server
tags:
  - name: User Authentication
    description: |
      Endpoints for user authentication
      
      These endpoints should not be used by third-party applications, as they are intended for the main game client only
paths:
  /login/{provider}/:
    get:
      operationId: loginUser
      summary: Login using an OAuth2 provider
      tags:
        - User Authentication
      description: |
        Start the OAuth2 flow to log in using the specified provider.
        This endpoint will redirect the user to the provider's authorization page.
        
        Currently only Discord is supported.
      parameters:
        - $ref: "#/components/parameters/AuthProvider"
      responses:
        302:
          description: Redirect to the provider's authorization page
          headers:
            Location:
              description: The redirect URL
              schema:
                type: string
                format: uri
                example: https://discord.com/api/oauth2/authorize?client_id=1194399064440189029&redirect_uri=https%3A%2F%2Fwarfront.io%2Fapi%2Fauth%2Fdiscord&response_type=code&scope=identify&state=1234567890
  /auth/{provider}/:
    get:
      operationId: handleOAuthCallback
      summary: Handle the OAuth2 callback
      tags:
        - User Authentication
      description: |
        Handle the OAuth2 callback from the provider.
        This endpoint will exchange the authorization code for an access token and log the user in.
        
        This endpoint should not be called directly.
      parameters:
        - $ref: "#/components/parameters/AuthProvider"
        - name: state
          in: query
          description: The state parameter from the OAuth2 flow, required when using the Discord provider
          schema:
            type: string
          example: 1234567890
        - name: code
          in: query
          description: The authorization code from the OAuth2 flow, required when using the Discord provider
          schema:
            type: string
          example: b9111c8ec94cd5f69d86484917d58722650e8a87
      responses:
        302:
          description: Redirect to the main game client
          headers:
            Location:
              description: The redirect URL
              schema:
                type: string
                format: uri
                example: https://warfront.io/auth/?token=6c7fe432572dee73ab8f6b99a6bf9742035b9543
        400:
          description: The state parameter is missing or invalid
        422:
          description: Error processing the OAuth2 callback
          content:
            text/plain:
              schema:
                type: string
                description: The error message
              example: Failed to get user information
  /auth/:
    post:
      operationId: authClient
      summary: Authenticate client using initial token
      description: |
        Authenticate the client using the initial token obtained from the user authentication endpoints.
        This endpoint will return a refresh token to be used for future requests.
      tags:
        - User Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: The initial token obtained from the user authentication endpoints
                  example: 6c7fe432572dee73ab8f6b99a6bf9742035b9543
                device:
                  type: string
                  description: The device ID, can be generated by the client randomly
                  example: 1234a
      responses:
        200:
          description: Successful authentication
          content:
            text/plain:
              schema:
                type: string
                description: The refresh token
              example: 44091ba9bcd6b5b56b4c4407acb40f1c5df0b6e73b88fd8abd3f877bf1fda6d8
        400:
          description: Missing token or device ID
        401:
          description: Invalid token
          content:
            text/plain:
              schema:
                type: string
                description: Reason for invalid token
              examples:
                invalidToken:
                  value: Invalid token
                expiredToken:
                  value: Token expired, please try again
        500:
          description: Error generating refresh token
          content:
            text/plain:
              schema:
                description: The error message
                type: string
              example: Failed to generate refresh token
  /token/:
    post:
      operationId: refreshToken
      summary: Request a new access token
      description: |
        Request a new access token using the refresh token, this will invalidate the old access token.
        The refresh token is obtained from the /auth/ endpoint after successful authentication.
        
        The access token is valid for 15 minutes and can be used to authenticate requests to the API.
        
        Decoding the access token will return the following information:
        - User ID
        - Service (the OAuth2 provider used)
        - User ID (the user ID from the OAuth2 provider)
        - Username (the username from the OAuth2 provider)
        - Avatar URL (the avatar URL from the OAuth2 provider)
        
        The access token is signed using RSA with the following public key:
        ```
        -----BEGIN PUBLIC KEY-----
        MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAtgGuhr+Sy1vrvABUeWDD
        5K1EXMTpc6EtDQu0D/ohMSs6wn6CMwy0xqIENbZLuOTFZKxSCdpAdL04wSy4LoGA
        TxsT5104rumIw/ZZ2o0A2SBMtX8nllsqH1ae0INJWWIlatXItXlhlSJu2Hj1460f
        U7nH7kCHVF2EvYSdZZXgh+uSAAWDDgTMMQ9CvAZCKAQ2vKT7fd+ixp/9yJQRXPX4
        jgLIwvCntL0y3R+xw3LYQCBCt7gHcGOPU2cGqPWD1+75YATnnBAwobZj/RmUt2It
        MkQapZxXvjkPZBL5p0uKiNu57xn8/+DRuh4hc4Ouem1TMg8zbrcGyiDZGM5sy4GV
        Z0RZQAJySSnvMcyWUPi/1g5KYns4XVECmIuXbbJF1mREKovMHJnDXoqCtyVbatk6
        G13yiYyweTSh8mpt9Vv53ad1RCv5UohQ/JX0WKTwo8h/f3/YH6VetR7OTer5vko9
        ALgvaVvsWx+o/pqwK0GFWuKaQoXNzDlekbRLoE0Iclf19Z4QrFm4/55UdRnrlPAe
        SmDAUf2qRI3uVYl6IdvCEzBDvkkZEeAvlZAv5VcY+dy7vvErObyOTi0jKupySN1u
        uGJIKSmOVnVDyHCTg+KAOSFB4x+y2/Hn0tRzj9cRhB6nrwCdg3ZEe3yo3kcsKldt
        mzUJf3k5Z6lWq+dRO0j4nUkCAwEAAQ==
        -----END PUBLIC KEY-----
        ```
      tags:
        - User Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: The refresh token obtained from the /auth/ endpoint
                  example: 44091ba9bcd6b5b56b4c4407acb40f1c5df0b6e73b88fd8abd3f877bf1fda6d8
                device:
                  type: string
                  description: The device ID, can be generated by the client randomly
                  example: 1234a
      responses:
        200:
          description: Successful token refresh
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: The new access token
                    example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImJNWm40WSIsInNlcnZpY2UiOiJkaXNjb3JkIiwidXNlcl9pZCI6IjExOTQzOTkwNjQ0NDAxODkwMjkiLCJ1c2VybmFtZSI6ImV4YW1wbGVfdXNlciIsImF2YXRhcl91cmwiOiJodHRwczovL2V4YW1wbGUuY29tL2F2YXRhci5wbmciLCJpYXQiOjE3MjE2NjUxOTQsImV4cCI6MTcyMTY2NjA5NH0.I4hfWpylPwx4yhRXjM_ggGeIuTvf7NeiphlMnBovRvtIqlbgA6NKX0lNPrhWgfawFHxAdfS3T7ZRy2jbJ_N6XHgXMKLrb45Yd61fz59QgO4MRX9GF3Qe69ZpdFgOCLMgBX3LK7KBn4AFlnOR8INO6InDmKr2hFJDkzPiUfnYxjezdQzwRoGlAp8jYQtxm4lFY8JEnRQcv51urGLP5xNySNb8ulKo8UFyoIT_jZNg1a0pFheilMb3hd0HE4Dm8Z0rrnPJydPDKOzCksHMbapg6RGYK1XBGINQ54XOuoPOfmb37haFp3EmmY0BF7gFwJ4MAdO-UML9siwDa-dFvugbQMxxQDSSgM1b68C7n_YxnuPBEEpx1lbb80LOVM355fy189M28nMT8E5pRb62QHyd-6FPfTYB84sC1QqTob8hfjNzRTnO9ikJ8g3vsKdAT9VDZ4f-XFq5pvv6wBsD8t2eie7QWNMdahTKxEhnqrBt9pfl1_pCol971W9wDKwzdeHoQGMnRPPIkRx_Qpl598wmpHd8JktJqQBRwYGRIoh4fZERUTsckeFbEelTLLBUfDEMZNL_8hIxgXpll2kcTV0LQOaN6TdaekZA7EHfiZ8QaZ3k9EQifzQCZfqwYi08JaWk5EdIMJ0ygQ33aGYXU2EJZ573BxklDpsM8MldZirBJpk
                  expires_in:
                    type: integer
                    description: The expiration time of the access token in seconds
                    example: 840
                  refresh_token:
                    type: string
                    description: The new refresh token
                    example: 44091ba9bcd6b5b56b4c4407acb40f1c5df0b6e73b88fd8abd3f877bf1fda6d8
                  user:
                    $ref: "#/components/schemas/User"
        400:
          description: Missing token or device ID
        401:
          description: Invalid token
          content:
            text/plain:
              schema:
                type: string
                description: Reason for invalid token
              example: Invalid token
        500:
          description: Error generating access token
          content:
            text/plain:
              schema:
                type: string
                description: The error message
              example: Failed to get user information
  /revoke/:
    post:
      operationId: revokeToken
      summary: Revoke the refresh token
      description: |
        Revoke the refresh token, this will invalidate the specified refresh token.
      tags:
        - User Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: The refresh token to revoke
                  example: 44091ba9bcd6b5b56b4c4407acb40f1c5df0b6e73b88fd8abd3f877bf1fda6d8
      responses:
        200:
          description: Token revoked
        400:
          description: Missing token
  /logout/:
    post:
      operationId: logoutUser
      summary: Logout the user
      description: |
        Logout the user. Other than revoke, this invalidates all refresh tokens for the user.
      tags:
        - User Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: {}
      security:
        - userAuth: []
      responses:
        200:
          description: User logged out
        401:
          description: Invalid or outdated access token
          content:
            text/plain:
              schema:
                type: string
              example: Unauthorized
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: The user ID
          example: bMzn4Y
        service:
          type: string
          description: The OAuth2 provider used
          example: discord
        user_id:
          type: string
          description: The user ID from the OAuth2 provider
          example: 1194399064440189029
        username:
          type: string
          description: The username from the OAuth2 provider
          example: example_user
        avatar_url:
          type: string
          description: The avatar URL from the OAuth2 provider
          example: https://example.com/avatar.png
  parameters:
    AuthProvider:
      name: provider
      in: path
      required: true
      description: The OAuth2 provider to use
      schema:
        type: string
        enum:
          - discord
      example: discord
  securitySchemes:
    userAuth:
      type: http
      scheme: bearer
      description: Obtained from the user authentication endpoints, only usable for the main game client
    serviceAuth:
      type: http
      scheme: bearer
      description: Internal use only, not available to the public